.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 100%;
  height: 100%;
}

#botao {
  margin-top: 5px;
  width: 100px;
  font-size: 6px;
  height: 50px;
  margin-left: 45%;
  border-radius: 10px;
  background-color: deepskyblue;
  cursor: pointer;
}

#container {
  height: 100%;
  display: flex;
}
.personagens {
  width: 50%;
  height: 250px;
  justify-content: space-around;
}
html {
  align-items: center;
}
